.app-header {
    .logo{
        display: flex;
        font-family: 'Raleway', sans-serif;
        align-items: center;
        .logo-img{
            width: 30px;
            height: 30px;
        }
        h1{
            color: #0a66c2c4;
            
        }
    }
    grid-row: 1/1;
    .nav-items{
        >*{
            text-transform: capitalize;
            margin-inline-end: 15px;
            font-size: 16px;
        }
    }
}
