.home-page {
  main{
    font-family: 'Raleway', sans-serif;
    margin-top: 4rem;
    .h-p-card-txt{
      text-align: center;
      margin-top: 100px;
      .title{
        font-size: 36px;
        font-weight: 700;
        line-height: 1.2em;
      }
      button{
        margin-top: 50px;
        color: rgb(93, 93, 194);
        background-color: white;
        font-weight: 700;
        width: 150px;
        border: none;
        text-align: left;
      }
    }
    h1{
      text-align: center;
      margin-bottom: 50px;
    }
  }
  .img-container{
    width: 100%;
    img{
      width: 100%;
      height: 900px;
    }
  }
  .h-p-card-txt{
    margin-bottom: 50px;
  }
  .h-p-templete-list{
    margin-bottom: 120px;
  }
  .footer{
    border-top: 2px solid #f1f1f1;
    padding-top: 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    h1{
      margin: 0;
    }
    .items{
      width: 50%;
      display: flex;
      justify-content: space-between;
      .item{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 50px;
        width: 50px;
        border-radius: 50%;
        box-shadow: 0px 0px 2px 0px;
      }
    }
  }
}
