.home-page {
  background: linear-gradient(to top, white,#17a2b8);
  main{
    font-family: 'Raleway', sans-serif;
    h1{
      text-align: center;
      margin-bottom: 50px;
    }
    .h-p-card-1{
      display: flex;
      color: #404145;
      img{
        padding: 20px;
      }
      .card-text{
        padding: 20px;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        .tag{
          color: white;
          font-size: 16px;
          font-weight: 400;
          text-transform: uppercase;
          letter-spacing: 4px;
        }
        .title{
          font-size: 36px;
          font-weight: 700;
          line-height: 1.2em;
        }
        .btn-pointer{
          color: #404145;
          background-color: white;
          font-weight: 700;
          width: 150px;
          border: none;
          text-align: left;
        }
      }
      img{
        flex:1
      }
    }
  }
}
