.details-page {
    header{
        grid-row: 1/1;
        .nav-logo{
            font-size: 30px;
            color: white;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
        .hero {
            p {
                margin-bottom: 65px;
            }
        }
    }
    main{
        grid-row: 2/2;
        .section-details div{
            flex: 1;
            margin-right: 2rem;
        }
    }
    footer{
        grid-row: 3/3;
        .icons a{
            margin-inline-start: 15px;
        }

    }
}
