.details-page {
    header{
        grid-row: 1/1;
        .nav-logo{
            font-size: 30px;
            color: white;
            letter-spacing: 2px;
            text-transform: uppercase;
        }
    }
    main{
        grid-row: 2/2;
    }
    footer{
        grid-row: 3/3;
    }
}

