.app-hero {
  background: linear-gradient(to top, white,#17a2b8);
  height: 75vh;
  .title{
    width: 100%;
    font-family: 'Raleway', sans-serif;
    h1{
      color: #000;
      font-size: 49px;
      font-weight: 700;
      line-height: 1.08;
      padding-bottom: 15px;
      width: 25ch;
    }
    h3{
      color: #595959;
      margin: 0 auto;
      font-size: 21px;
      width: 35ch;
      padding-bottom: 25px;
    }
  }
}
