.template-preview{
  display: grid;
  grid-template-rows: 25px 1fr;
  height: 250px;
  width: 360px;
  .header-template-preview{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: #0A6CC2;
    grid-row: 1/1;
    padding: 0 10px;
    h4{
      margin: 0;
      font-family: 'Raleway',sans-serif;
      color: white;
      font-size: 16px;
      font-weight: 600;
    }
    .dots{
      width: 30px;
      div{
        width: 5px;
        height: 5px;
        border-radius: 50%;
        background-color: white;
      }
    }
  }
  & .empty-template-preview{
    border: 1px solid grey;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
   font-size: 80px;
   color: rgb(186, 186, 186);
  }
  & .img-template-preview{
    margin: 0;
    padding: 0;
    & img{
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;
      height: 225px;
      width: 100%;
      object-fit: contain;
    }
  }
}
