.template-app {
    text-align: center;
    .template-app-header{
        font-size: 20px;
        font-weight: 400;
        font-style: italic;
        margin: 4rem 0 3rem; 
        color: #00529c;
    }
}